@{
    ViewBag.Title = "Asignar menu";
}

<div class="tile">
    <h2>Puede asignar un menu existente a los siguientes roles</h2>

    <table class="table">
        <tr>
            <th>
                Rol asignado
            </th>
            <th>
                Menu visible
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.roles)
        {
            <tr>
                <td>
                    @item.NOMBRE_ROL
                </td>
                <td></td>
                <td>
                    <a href="/MENUROL/Agregar/@item.ID_ROL">agregar menu</a>
                </td>
            </tr>
        }

    </table>

</div>