@{
    ViewBag.Title = "Asignar menu";
}

<div class="tile">
    <h2>Puede asignar un menu existente a los siguientes roles</h2>

    <table class="table" id="sampleTable">
        <thead>
            <tr>
                <th>
                    Rol asignado
                </th>
                <th>
                    Menu visible
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.roles)
            {
                <tr>
                    <td>
                        @item.NOMBRE_ROL
                    </td>
                    <td></td>
                    <td>
                        <a href="/MENUROL/Agregar/@item.ID_ROL" class="btn btn-info">agregar menu</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>