@model SAP.Models.GENERO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>GÉNERO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE DE GÉNERO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_GENERO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_GENERO }) |
    @Html.ActionLink("Regresar", "Index")
</p>

