@{
    ViewBag.Title = "Bienvenido a SAP";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Bienvenido</h1>
        <p>Sistema de Administracion de Planilla - SAP</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Sistema de Administracion de Planilla - SAP</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="tile">
            <p>UNIVERSIDAD DE EL SALVADOR</p>
            <p>FACULTAD DE INGENIERIA Y ARQUITECTURA</p>
            <p>ESCUELA DE INGENIERIA DE SISTEMAS INFORMATICOS</p>
            <p>BASES DE DATOS</p>
            <p>CICLO I - 2019</p>
        </div>
    </div>
    <div class="col-md-7">
        <div class="tile">
            <h3>Integrantes</h3>
            <ul>
                <li>Alvarenga Hernandez, Marvin Alexander</li>
                <li>Lopez Hernandez, Cesar Fernando</li>
                <li>Marroquin Herrera, Walter Ernesto</li>
                <li>Ochoa Romero, Manuel Enrique</li>
                <li>Quijada Figueroa, Jose Luis</li>
            </ul>
        </div>
    </div>
</div>