@model SAP.Models.PERIODICIDAD_ANUAL

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar la periodicidad?</h3>
<div>
    <h4>PERIODICIDAD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            AÑO DE LA PERIODICIDAD
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIO_PERIODICIDAD)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
